[submodule "Artifax/vendor/spdlog"]
	path = Artifax/vendor/spdlog
	url = https://github.com/Haadrade/spdlog
[submodule "Artifax/vendor/GLFW"]
	path = Artifax/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Artifax/vendor/imgui"]
	path = Artifax/vendor/imgui
	url = https://github.com/Haadrade/imgui
[submodule "Artifax/vendor/glm"]
	path = Artifax/vendor/glm
	url = https://github.com/Haadrade/glm
